/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
#spaceVideo{
 
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  
}

body{
  font-family: 'Source Code Pro';
  color: white;
  }

img{
  position: relative;
  display: block;
  margin: 0 auto;
}

div{
  position: relative;
  text-align: center;
  display: block;
}

h1{
  position: relative;
  text-align: center;
  font-size: 3rem;
  
}

input{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 30%;
}

button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-left: 30%;
}



h2{
  position: relative;
  text-align: center;
  font-size: 3rem;
  margin-left: -15%;
  margin-top: 2%;
  
}

section{
  margin-top: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
}



img {
  opacity: 0.5;
  display: block;
  margin-left: 0, auto;
  /* height: 500px; */
  width: 50%;
  height: 20%;
}

h3{
  position: relative;
  text-align: center;
  font-size: 16px;
  width: 100%;
  margin: 0, auto;
  text-align: center;
  padding: 15px 25px;
  background-color: rgb(107, 105, 105, .2);

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 900px) {
  h2{
      font-size: 2em;
  }
  #dev{
      font-size: 20px;
  }
  .fa-github {
      font-size: 30px;
  }
  #desc{
    width: 95%;
    font-size: 15px;
  }
  img{
    width: 60%;
  }
}
li{
  margin: 0 5px;
}

/* Handling video */
.picture{
  display: flex;
  flex-direction: column;
  align-items: center;
}
